body {
  background-image: radial-gradient(circle, #ecfcff 0%, #efecff 100%);
}

h2 {
  bottom: 0;
  max-width: calc(.3 * 960px);
  position: fixed;
  width: inherit;
  /* flex system */
  align-items: center;
  display: flex;
  justify-content: center;
}

.app {
  column-gap: 15px;
  display: flex;
  max-width: 960px;
  min-width: 768px;
}

.app .sticky-flex-item {
  align-self: flex-start;
  height: calc(100vh - 16px);
  position: sticky;
  top: 8px;
}

.borough-btn {
  position: relative;
}

.borough-btn-icon {
  position: absolute;
  right: 12px;
}

.borough-btn-icon::before {
  content: ">>";
}

.complaint-grid {
  background-color: white;
  border-radius: 6px;
  height: 175px;
  margin: 32px 0;
  padding: 6px 12px;
  padding-left: 36px;
  /* grid system */
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.complaint-grid:first-child {
  margin-top: 16px;
}

.complaint-grid .btn {
  /* background-color: ?????? */
  border-radius: 6px;
  border-width: 0;
  justify-self: center;
  width: 80%;
}

.complaint-grid .wide-row {
  grid-column: 1 / -1;
}
